.0_5 { 
	overflow:hidden;
}.e0_5 { 
	width:1440px;
	height:768px;
	position:absolute;
}.e0_6 { 
	width:1440px;
	height:768px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/login_.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_7 { 
	background-color:rgba(0, 96.00000187754631, 144.00000661611557, 1);
	width:709px;
	height:768px;
	position:absolute;
	left:731px;
	top:0px;
}.e0_8 { 
	background-color:rgba(24.000000469386578, 168.0000051856041, 216.00000232458115, 1);
	width:731px;
	height:768px;
	position:absolute;
	left:0px;
	top:0px;
}.e0_9 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(9.80155885219574, 90.3921639919281, 130.68749696016312, 1);
	width:630.5px;
	height:118px;
	position:absolute;
	left:750.5px;
	top:563.5px;
}.e0_10 { 
	width:667px;
	height:484px;
	position:absolute;
	left:746px;
	top:15px;
	background-image:url(images/background_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_45 { 
	width:478px;
	height:458px;
	position:absolute;
	left:871px;
	top:234px;
	background-image:url(images/login_photo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_12 { 
	width:585px;
	height:624.780029296875px;
	position:absolute;
	left:91px;
	top:58px;
}.e0_13 { 
	background-image:linear-gradient(0deg, rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1) 0%,rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 0) 100%) ;
	width:585px;
	height:624.780029296875px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e0_14 { 
	width:351.77996826171875px;
	height:395.56005859375px;
	position:absolute;
	left:117px;
	top:112.99998474121094px;
}.e0_15 { 
	width:137.47991943359375px;
	height:38.233638763427734px;
	position:absolute;
	left:113.99999237060547px;
	top:291.0000305175781px;
}.e0_16 { 
	color:rgba(105.00000134110451, 111.00000098347664, 121.00000038743019, 1);
	width:90.4800033569336px;
	height:10.920000076293945px;
	position:absolute;
	left:46.99991226196289px;
	top:11.99993896484375px;
	font-family:SF UI Display;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e0_17 { 
	transform: rotate(0.767341937035606deg);
	width:37.55607986450195px;
	height:37.73406219482422px;
	position:absolute;
	left:0.5053437352180481px;
	top:0px;
}.ei0_17_466_222 { 
	background-color:rgba(0, 0, 0, 1);
	width:33.41135787963867px;
	height:21.22540855407715px;
	position:absolute;
	left:2.072376251220703px;
	top:8.254325866699219px;
}.e0_18 { 
	width:332.2799987792969px;
	height:49.92000198364258px;
	position:absolute;
	left:9.359986305236816px;
	top:345.6400451660156px;
}.e0_19 { 
	background-color:rgba(30.00000011175871, 63.000000044703484, 102.00000151991844, 1);
	width:332.2799987792969px;
	height:49.92000198364258px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e0_20 { 
	color:rgba(255, 255, 255, 1);
	width:46.80000305175781px;
	height:29.64000129699707px;
	position:absolute;
	left:142.74002075195312px;
	top:10.140002250671387px;
	font-family:SF UI Display;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e0_21 { 
	width:351px;
	height:76.10006713867188px;
	position:absolute;
	left:0px;
	top:196.99998474121094px;
}.e0_22 { 
	background-color:rgba(243.00000071525574, 247.00000047683716, 248.0000004172325, 1);
	width:351px;
	height:49.92000198364258px;
	position:absolute;
	left:0.00000884057408256922px;
	top:26.18006706237793px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.0_22 { 
	border:1px solid rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
}.e0_23 { 
	color:rgba(105.00000134110451, 111.00000098347664, 121.00000038743019, 1);
	width:174px;
	height:13px;
	position:absolute;
	left:23px;
	top:44px;
	font-family:SF UI Display;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e0_24 { 
	color:rgba(105.00000134110451, 111.00000098347664, 121.00000038743019, 1);
	width:161px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:SF UI Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e0_25 { 
	width:351px;
	height:75.24002075195312px;
	position:absolute;
	left:0.7799786925315857px;
	top:91.0000228881836px;
}.e0_26 { 
	background-color:rgba(243.00000071525574, 247.00000047683716, 248.0000004172325, 1);
	width:351px;
	height:49.92000198364258px;
	position:absolute;
	left:0px;
	top:25.320018768310547px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.0_26 { 
	border:1px solid rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
}.e0_27 { 
	color:rgba(133.98125141859055, 145.72187662124634, 165.74999392032623, 1);
	width:192px;
	height:14px;
	position:absolute;
	left:23.22002410888672px;
	top:43px;
	font-family:SF UI Display;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e0_28 { 
	color:rgba(105.00000134110451, 111.00000098347664, 121.00000038743019, 1);
	width:104px;
	height:14px;
	position:absolute;
	left:0.22002196311950684px;
	top:0px;
	font-family:SF UI Display;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.0_29 { 
	border:1px solid rgba(78.62500101327896, 78.62500101327896, 78.62500101327896, 1);
}.e0_29 { 
	width:333.0600280761719px;
	height:0px;
	position:absolute;
	left:9.359986305236816px;
	top:44.56002426147461px;
}.e0_30 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:28px;
	position:absolute;
	left:99px;
	top:0px;
	font-family:SF UI Display;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}